<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="card-picture" fxFlex="30%" fxLayoutAlign="center">
    <mat-card-content>100 Users</mat-card-content>
  
  </mat-card>
  <mat-card class="card-picture" fxFlex="30%" fxLayoutAlign="center">
      <mat-card-content>8 Categories</mat-card-content>
    
  </mat-card>
  <mat-card class="card-picture" fxFlex="30%" fxLayoutAlign="center">
      <mat-card-content>90 Posts</mat-card-content>
  </mat-card>
</div>

<div fxLayout="row">
    <mat-card fxLayout="row" fxFlex fxLayoutAlign="center stretch">
      <mat-card-content>
        <h4>Admin Panel Dashboard</h4> 
      </mat-card-content>
    </mat-card>
</div>

